<div style="background-color:powderblue;">

<div style="border:0.5em solid black;">


<div style="text-align:center;">

	<img src="http://baumcube.weebly.com/uploads/6/5/8/4/65844733/marketspots_orig.png" alt="HTML5 Icon" style="width:6em;height:5em;">

	<div style="font-family:courier;">
		<div style="color:red;">
<h1>Due to Violations of Our Terms of Service, your account, <%= @user.email %>, has been removed.</h1>
</div>
  <p>
    The following account has been deleted: <%= @user.email %>.<br>
  </p>
<p style="font-family:courier;"  >If You Think That This is A Mistake, Please contact shop2mailer2019@gmail.com</p>
</div>
</div>
</div>
</div>
</div>