<div class="welcome">
<h1>Welcome!</h1>
<h3>Bienvenidos, Välkommen, Benvenuto, ようこそ, Willkommen...</h3>
<img src="https://static.thenounproject.com/png/643317-200.png"> <br>
<h2>We could go on, but we're glad you're here.</h2>
<h4>You have successfully created an account with Shop2, and are ready to enjoy the unrivaled<br> Shop2 experience. You can take a tour of the site to familiarize yourself with the numerous <br>benefits of Shop2 and get up to speed with the tools designed to optimize your user experience.</h4>
<div class="span_block">
<span class="button_span"><a href="<%= login_path %>"><button class="button login">Log In</button></a></span>
<span class="button_span"><a class="tour" href=""><button class="button">Take a Tour</button></a></span>
</div>
</div>