   <section class="hero">
            <div class="hero-inner">
                <h1>Shopping Reimagined</h1>
                <h2>The future of shopping begins with a click from your device.</h2>
                <a href="<%= catalog_all_path %>" class="btn">Get Shopping</a>
            </div>
        </section>


        <h1>Our Promise</h1>
    
    <div class="css-slick_display">
      <div>
        
           <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" style="height: 7em; display: block; margin-left: auto; margin-right: auto;"> <br>
            <h5 style="text-align: center; font-weight: 300;">We understand the value of your time and make it a top-priority to deliver service that allows you to have the time to chase your passion.</h5>
</div>

     <div>
        
           <img src="https://static.thenounproject.com/png/1113281-200.png" style="height: 7em; display: block; margin-left: auto; margin-right: auto;"> <br>
            <h5 style="text-align: center; font-weight: 300;">We understand the value of your time and make it a top-priority to deliver service that allows you to have the time to chase your passion.</h5>
</div>


     <div>
        
           <img src="https://cdn0.iconfinder.com/data/icons/business-and-finance-3-6/68/130-512.png" style="height: 7em; display: block; margin-left: auto; margin-right: auto;"> <br>
            <h5 style="text-align: center; font-weight: 300;">We understand the value of your time and make it a top-priority to deliver service that allows you to have the time to chase your passion.</h5>
</div>




  </div>


</div>

   <section class="how_it_works_hero">
           <div class="how_it_works">
            <div class="content-header">
              HOW IT WORKS
            </div><br>

                  <div class="content">
      <div>
        
           <img src="https://image.flaticon.com/icons/png/512/65/65680.png" style="height: 4em; display: block; margin-left: auto; margin-right: auto;"> <br>
            <h3 style="text-align: center; font-weight: 500;">Order Online or On the App</h3>

            <h5 style="text-align: center; font-weight: 300;">We understand the value of your time and make it a top-priority to deliver service that allows you to have the time to chase your passion.</h5>
</div>

     <div>
        
           <img src="https://static.thenounproject.com/png/114388-200.png" style="height: 4em; display: block; margin-left: auto; margin-right: auto;"> <br>
            <h3 style="text-align: center; font-weight: 500;">Your Order is Prepared</h3>

            <h5 style="text-align: center; font-weight: 300;">We understand the value of your time and make it a top-priority to deliver service that allows you to have the time to chase your passion.</h5>
</div>




  </div>

   <div class="content">
      <div>
        
           <img src="https://s3.amazonaws.com/iconbros/icons/icon_pngs/000/000/163/original/delivery.png?1510082899" style="height: 4em; display: block; margin-left: auto; margin-right: auto;"> <br>
            <h3 style="text-align: center; font-weight: 500;">Your Order is Delivered Right to Your Door</h3>

            <h5 style="text-align: center; font-weight: 300;">We understand the value of your time and make it a top-priority to deliver service that allows you to have the time to chase your passion.</h5>
</div>

     <div>
        
           <img src="https://static.thenounproject.com/png/1092657-200.png" style="height: 4em; display: block; margin-left: auto; margin-right: auto;"> <br>
            <h3 style="text-align: center; font-weight: 500;">Enjoy Your Meal from the Comfort of Your Home</h3>

            <h5 style="text-align: center; font-weight: 300;">We understand the value of your time and make it a top-priority to deliver service that allows you to have the time to chase your passion.</h5>
</div>




  </div>




            </div>
           </div>
           <br>
        </section>

        

      <!--  <div class="at_a_glance">
<h1>Our Promise</h1>

<span><h3>Time</h3></span>
<span><p3>As a company of busy people we wholly understand the importance of your time.</p3></span>
<span><h3>Time</h3></span>
        </div>


           <section class="hero_short">
            <div class="hero_short-inner">

            </div>
        </section>



        <section class="at_a_glance">
<h1>Our Services</h1>

<span><h3>Meals</h3></span>
<span><p3>As a company of busy people we wholly understand the importance of your time.</p3></span>
<span><h3>Laundry</h3></span>
        </section>

-->
    <!--

           <section class="hero">
            <div class="hero-inner">
                <h1>Shopping Reimagined</h1>
                <h2>The future of shopping begins with a click from your device.</h2>
                <a href="<%= catalog_all_path %>" class="btn">Get Shopping</a>
            </div>
        </section>
-->
