
<!--<fieldset>
<legend>Please Enter Your Details</legend>
<%= render 'form', order: @order %>
</fieldset>-->

<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');    background-repeat: no-repeat;     background-attachment: fixed;    background-position: center center;   background-size: cover;">

	<br>

<div class="order_form_content">


<div class="actual_content">
<h1>Confirm Order Information</h1>
<%= render 'form', order: @order %>
</div>

</div>
<br>

</div>