<!--<div class="about_us_splash" style="background: black; width: 100%; height: auto; opacity: 0.9;">
	<br>
	<h1 style="font-size: 4em; color: #fff; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;"> About Us</h1>
	<h3 style=" text-align: center; font-size: 2.25em; font-weight: 200; color: #fff; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;"><- Insert Name -> is the complete home service for today's busy lifestyles that evolves with your tastes, needs and lifestyle.</h3>
	<br>

</div> -->


<div class="about_us_1" style="text-align: center; background: 	#fff; width: 100%; height: auto; margin-right: auto; margin-left: auto;">

   <section class="about_us_img" id="get_to_know_us">
            <div class="about_us_img-inner">
               <br>
      
            </div>
        </section>







</div>

<!--
   <section class="about_us_img_1" id="slideshow">
            <div class="about_us_img-inner">
               <br>
               <a href="#chefs">Our Chefs</a>
            </div>
        </section>



           <section class="about_us_img_1" id="chefs" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('https://listbrew.com/wp-content/uploads/2018/09/PP18-DIPLOMA-IN-PROFESSIONAL-CHEF.jpg');">
            <div class="about_us_img-inner">
               <br>
               <a href="#order">Order</a>
            </div>
        </section>


           <section class="about_us_img_1" id="order" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('https://www.arvigbusiness.com/wp-content/uploads/Blog/For_Home/2018/November_2018/Other/Phone_Person_Holding_Horizontal-1.png');">
            <div class="about_us_img-inner">
               <br>
               <a href="#delivery">Get to Know Us</a>
            </div>
        </section>


     


           <section class="about_us_img_1" id="delivery" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('https://media.fashionnetwork.com/m/f1a3/987e/b391/3c72/3815/4c13/2ed7/c7ef/088c/7066/7066.jpg');">
            <div class="about_us_img-inner">
               <br>
               <a href="#enjoyment">Get to Know Us</a>
            </div>
        </section>



           <section class="about_us_img_1" id="enjoyment" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url('https://www.pittsburghmagazine.com/Meat%26Potatoes-10.jpg');">
            <div class="about_us_img-inner">
               <br>
               <a href="#slideshow">Get to Know Us</a>
            </div>
        </section>

-->
         
<!--
<div class="about_us_1" style="background: 	#D3D3D3; width: 100%; height: auto;">
	<br>
	<p1 style=" text-align: center; font-size: 1.5em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">Much like any project, Shop2 started with an idea. Insert Mission Statement...........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................</p1>
	<br>
	<h3 style=" text-align: center; font-size: 1.5em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">We said, "Why Not Do It?"</h3>
	<br>

</div>
<h1>About</h1>
<div class="about_us_1" style="background: 	#D3D3D3; width: 100%; height: auto;">
	<br>
	<p1 style=" text-align: center; font-size: 1.5em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">Much like any project, Shop2 started with an idea. Insert Mission Statement...........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................</p1>
	<br>
	<h3 style=" text-align: center; font-size: 1.5em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">We said, "Why Not Do It?"</h3>
	<br>

</div>
<h1>More Super Cool Info</h1>

<div class="about_us_1" style="background: 	#D3D3D3; width: 100%; height: auto;">
	<br>
	<p1 style=" text-align: center; font-size: 1.5em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">Much like any project, Shop2 started with an idea. Insert Mission Statement...........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................</p1>
	<br>
	<h3 style=" text-align: center; font-size: 1.5em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">We said, "Why Not Do It?"</h3>
	<br>

</div>-->

<!--
<div class="about_us_1" style="background: 	#fff; width: 100%; height: auto;">



    <div class="css-dope_display">
  	<div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
	<br>
	<h2 style=" text-align: center; font-size: 1.5em; font-weight: 500; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">What We Stand For</h2>

	<p style=" text-align: center; font-size: 1.25em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">It’s our mission to change the way people find clothes they love by combining technology with the personal touch of seasoned style experts. </p>
	<br>
</div>

    <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
	<br>
	<h2 style=" text-align: center; font-size: 1.5em; font-weight: 500; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">How We Got Here</h2>

	<p style=" text-align: center; font-size: 1.25em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">Founder Katrina Lake created Stitch Fix to blend the human element of personal styling with high-quality clothing and proprietary algorithms. She shipped the first Stitch Fix order out of her Cambridge apartment in 2011 while attending Harvard, and today the company has brought the exclusive shopping experience to millions of men and women nationwide. In 2016, we launched men’s, and extended our women’s offerings to include plus sizes in 2017.</p>
	<br>
</div>


     <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
	<br>
	<h2 style=" text-align: center; font-size: 1.5em; font-weight: 500; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">Tomorrow</h2>

	<p style=" text-align: center; font-size: 1.25em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">clothing and proprietary algorithms. She shipped the first Stitch Fix order out of her Cambridge apartment in 2011 while attending Harvard, and today the company has brought the exclusive shopping experience to millions of men and women nationwide. In 2016, we launched men’s, and extended our women’s offerings t</p>
	<br>
</div>




  </div>
</div>
-->

<div class="about_us_1" style="background:  #fff; width: 100%; height: auto;">




    <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
  <h2 style=" text-align: center; font-size: 1.5em; font-weight: 500; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">What We Stand For</h2>

  <p style=" text-align: center; font-size: 1.25em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">It’s our mission to change the way people find clothes they love by combining technology with the personal touch of seasoned style experts. </p>
  <br>
</div>

    <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
  <h2 style=" text-align: center; font-size: 1.5em; font-weight: 500; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">What We Stand For</h2>

  <p style=" text-align: center; font-size: 1.25em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">It’s our mission to change the way people find clothes they love by combining technology with the personal touch of seasoned style experts. </p>
  <br>
</div>

    <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
  <h2 style=" text-align: center; font-size: 1.5em; font-weight: 500; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">What We Stand For</h2>

  <p style=" text-align: center; font-size: 1.25em; font-weight: 200; color: black; font-family: 'Roboto Slab',Museo,'Helvetica Neue',Helvetica,Arial,sans-serif;">It’s our mission to change the way people find clothes they love by combining technology with the personal touch of seasoned style experts. </p>
  <br>
</div>

   



</div>



<div style="text-align: center; background:  black; width: 100%; height: 10vh; margin-right: auto; margin-left: auto;">

 <div class="about_us_img-inner">
               <br>
      <h1 style="color: white;">Meet the Team</h1>
            </div>





</div>

<div class="about_us_1" style="background:  black; width: 100%; height: auto;">



    <div class="css-dope_display">
    <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
  <img src="https://i0.wp.com/tedshots.com/wp-content/uploads/2013/01/Daman-Coffman-0537-Edit.jpg?fit=1100%2C1100&ssl=1" style="width: 250px;">

  <br>
</div>

    <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
   <img src="https://i0.wp.com/tedshots.com/wp-content/uploads/2013/01/Daman-Coffman-0537-Edit.jpg?fit=1100%2C1100&ssl=1" style="width: 250px;">
  <br>
</div>


     <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
  <img src="https://i0.wp.com/tedshots.com/wp-content/uploads/2013/01/Daman-Coffman-0537-Edit.jpg?fit=1100%2C1100&ssl=1" style="width: 250px;">
</div>

  <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
  <img src="https://i0.wp.com/tedshots.com/wp-content/uploads/2013/01/Daman-Coffman-0537-Edit.jpg?fit=1100%2C1100&ssl=1" style="width: 250px;">
</div>

  <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
  <img src="https://i0.wp.com/tedshots.com/wp-content/uploads/2013/01/Daman-Coffman-0537-Edit.jpg?fit=1100%2C1100&ssl=1" style="width: 250px;">
</div>

  <div style="width: auto; text-align: center; margin-right: auto; margin-left: auto;">
  <br>
  <img src="https://i0.wp.com/tedshots.com/wp-content/uploads/2013/01/Daman-Coffman-0537-Edit.jpg?fit=1100%2C1100&ssl=1" style="width: 250px;">
</div>


  </div>
</div>