/*
* This is a manifest file that'll be compiled into application.css, which will
* include all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets,
* vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
* can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear
* at the top of the compiled file, but it's generally better to create a new
* file per style scope.
*
report erratum • discuss
Iteration C2: Adding a Page Layout • 97
*= require_self
*= require_tree .
*/

/*
#banner {
 background: #000;
 padding: 10px;
 border-bottom: 2px solid;
 font: small-caps 40px/40px "Times New Roman", serif;
 color: #FFFFFF;
text-align: center;

 img {
 float: left;
 size: 50%;
 }
 }




.topnav {
  overflow: hidden;
  background-color: 0000;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav h1{
   font: small-caps 40px/40px "Times New Roman", serif;
 color: white;
text-align: center;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
}

*/



.main_block{
margin: 0em;
}

 #notice {
 color: #000 !important;
 border: 2px solid red;
 padding: 1em;
 margin-bottom: 2em;
 background-color: #f0f0f0;
 font: bold smaller sans-serif;
 }

 #columns {
 background: #FFFFFF;
}
 #main {
 margin-left: 0em;
 padding: 1em;
 background: white;
 }

 #side {
 float: left;
 padding: 1em 2em;
 width: 13em;
 background: #141;
 form, div {
 display: inline;
 }

 input {
 font-size: small;

 }

 #cart {
 font-size: smaller;
 color: white;

 table {
 border-top: 1px dotted #595;
 border-bottom: 1px dotted #595;
 margin-bottom: 10px;
 }
 }



 ul {
 padding: 0;

 li {
 list-style: none;

 /*a {
 color: #bfb;
 font-size: small; 
 }*/
 }
 }
}
 }




 /* Modern Footer */
.Modern_footer {

  background-color: #000;
  color: #fff;
  padding: 3em 0 3em 0;
}

.Modern_footer h3 {
  text-transform: uppercase;
  font-size: 15px;
}

.Modern_footer .base_ul_left {
margin-left: 4em;
}

.Modern_footer .base_ul_right {
margin-right: 40em;
}


.Modern_footer ul {
  padding: 4em;
  list-style: none;
}

.Modern_footer a {
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  display: inline-block;
  padding: 5px 0;
}



.footer-main-div{
  width: 100%;
  height: auto;
  margin: auto;
  background: black;
  padding:30px 0px;
}
.footer-social-icons{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-social-icons ul li{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #fff;
  border: 2px solid black;
}
.footer-social-icons ul li a{
  color: #272727;
  font-size: 25px;
  display: block;
}
.footer-social-icons ul li a i{
  line-height: 50px;
}
.footer-social-icons ul li:hover{
  background: black;
  border: 2px solid white;
}
.footer-social-icons ul li:hover a{
  color: white;
}
.footer-menu-one{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top:25px;
}
.footer-menu-one ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-menu-one ul li{
  display: inline-block;
  margin: 0px 15px;
}
.footer-menu-one ul li a{

  color: #fff;
  text-align: center;
  padding: 4px 3px;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-decoration: none;
  font-weight: 0.5em;
  font-size: 13px;
}
.footer-menu-one ul li a:hover{
  color: grey;
}
.footer-menu-two{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top:15px;
}
.footer-menu-two ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-menu-two ul li{
  display: inline-block;
  margin: 0px 15px;
}
.footer-menu-two ul li a{
  font-family: arial;
  font-size:14px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-menu-two ul li a:hover{
  color: #32CD32;
}
.footer-bottom{
  width: 100%;
  height: auto;
    margin: auto;
    background: #32CD32;
    padding: 10px;
}
.footer-bottom p{
  font-family: arial;
  font-size: 14px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer-bottom p a{
  color: #fff;
}
.footer-bottom p a:hover{
  color: #272727;
}



/* Access Denied Error Page */

.error_access_denied img{

  display: block;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  width: 50%;
}

.error_access_denied h1{
  color: black;
  text-align: center;
  font-size:3em;
  margin-bottom: 1.5em;
}

.error_button_home a {
  color: white;
  padding: 0.5em;
  width: 8%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  display: block; 
  margin: 0 auto;
  margin-bottom: 2em;



}







/* navigation styles start here */

.header {
  background: #1A1A1D;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #1A1A1D;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    margin-top: 1em;
    grid-column: 2 / 3;
    color: white;

  }

  .logo_img{
    width: 6em;
      height: 5em;
  }


  
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    text-align: center; 
    margin-right: 5em;
  }
  
  nav li {
    margin-left: 2em;
    margin-bottom: 1em;
  }
  
  nav a {
    opacity: 1;
    position: relative;

  }
  
  nav a::before {
    content: '';
    display: block;
    height: 0.25em;
    background: white ;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}


.current_header {
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #fff;



}

.login {
background-color: black;
border-color:black;
  border-style: solid;
  border-width: 0.1em;
 float: right;
  color: #fff;
  text-align: center;
  padding: 10px 18px;
  margin-bottom: 0em;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: verdana, arial, helvetica, sans-serif;


 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}

.login:hover {
  background-color: #fff; /* Green */
  color: black;
}

.logout {
  border-radius: 50%;
background-color: black;
border-color:black;
  border-style: solid;
  border-width: 0.1em;
 float: right;
  color: #fff;
  text-align: center;
  padding: 10px 18px;
  margin-left: 1px;
  margin-bottom: 0em;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-family: verdana, arial, helvetica, sans-serif;


 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}



.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-decoration: none;
  font-weight: 0.5em;
  font-size: 13px;

}

.topnav p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

}


.topnav a:hover {
  color: grey;
}

.topnav a.active {
  color: red;
}




.add_to_cart_button {
background-color: #fff;
border-color:black;
  border-style: solid;
  border-width: 0.1em;
  color: black;
  text-align: center;
  padding: 10px 18px;
  margin-bottom: 0em;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: verdana, arial, helvetica, sans-serif;


 -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}

.add_to_cart_button:hover {
  background-color: black; 
  color: #fff;
}


 