// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero_2 {
    /* Sizing */
    width: 100vw;
    height: 15vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero_2 h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero_2 .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; 
    text-decoration: none;
    font-size: 1.5em;
      font-family: verdana, arial, helvetica, sans-serif;
    
    /* Border styles */
    border: 5px solid white; 


 -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.4s;

}

.hero_2 .btn:hover {
 margin-top: 45px;
border: 6px solid white; 
 font-size: 1.75em;

}





.store {
 h1 {
 text-align:center;

 font: 300% sans-serif;
 }

 /* An entry in the store catalog */
 .entry {
 overflow: auto;
 margin-top: 1em;
 margin-bottom: 8em;
 min-height: 100px;

 img {
 width: 80px;
 margin-right: 5px;
 margin-bottom: 5px;
 position: absolute;
 }

 h3 {
 font-size: 120%;
 font-family: sans-serif;
 margin-left: 100px;
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
 }


 p, div.price_line {
 margin-left: 100px;
 margin-top: 0.5em;
 margin-bottom: 0.8em;
 }

 .price {
 color: #44a;
 font-weight: bold;
 margin-right: 3em;
 text-align: center;
 }
 }

 .filters{
 font-size: 1.2em;
 text-align: center;
 margin-bottom: 2em;
 margin-top: 2 em;
 padding-top: 2em;
 }

 .filters span {
 padding-left: 0.5em;
 padding-right: 0.5em;
 }


 .category_button{

    
    /* Text styles */
    color: white; 
    background-color: black;
    text-decoration: none;
    font-size: 1em;
      font-family: verdana, arial, helvetica, sans-serif;
    
    /* Border styles */
    border: 2px solid black; 


 -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.4s;
 }
 }



.store_display{
    max-width: 80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    color: white;

}


.store_item{
    border: 0.25em solid black;
    max-height: 30em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.store_item img{
    margin-top: 1em;
}

.item_actions{
    text-align: center;
    margin-bottom: 1em;
}



 .filters{
 font-size: 1.2em;
 text-align: center;
 margin-bottom: 2em;
 margin-top: 2 em;
 padding-top: 2em;
 }

 .filters span {
 padding-left: 0.5em;
 padding-right: 0.5em;
 }


 .category_button{

    
    /* Text styles */
    color: white; 
    background-color: black;
    text-decoration: none;
    font-size: 1em;
      font-family: verdana, arial, helvetica, sans-serif;
    
    /* Border styles */
    border: 2px solid black; 


 -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.4s;
 }


 .store_display a{
 color: white;
 text-decoration: none;
max-height: 30em;
 }

 .store_display{
.store_item{
    min-height: 30em;

}


 }



 .view_item{
 margin-top: 0.5em;
 }


  .view_item{

    
    /* Text styles */
    color: white; 
    background-color: transparent;
    margin-top: 0.5em;
    text-decoration: none;
    font-size: 1em;
      font-family: verdana, arial, helvetica, sans-serif;
    
    /* Border styles */
    border: 2px solid white; 


 -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.4s;
 }


